@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

:root {
    font-size: 16px;
    --bg: #ffffff;
    --accent: #2ca354;
    --accent-alt: #2a7e46;
    --text-light: #ffffff;
    --text-dark: #000000;
    --time: 250ms;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button {
    &,
    &:focus {
        border: none;
        border-radius: 0;
        outline: none;
    }
}

body {
    width: 100%;
    min-height: 100vh;
}
