.wrapper.footer {
    color: var(--text-light);
    background: var(--bg-accent);
}
.container.footer {
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.footer .details {
    width: 300px;

    > * {
        margin-top: 2rem;
    }
    h1 {
        font-size: 2rem;
        margin-top: 0;
    }
    * span {
        font-size: 1.2rem;
    }
}

.footer .messege {
    width: 300px;

    h1 {
        font-size: 2rem;
    }

    form {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        ::placeholder {
            color: var(--text-light);
            filter: brightness(0.8);
        }

        input,
        textarea,
        input:focus,
        textarea:focus {
            color: var(--text-light);
            border: 2px solid var(--text-light);
            font-size: 1.2rem;
            padding: 0.6rem 1rem;
            outline: none;
            border-radius: 0.2rem;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(6px);
        }
        input:focus-within,
        textarea:focus-within {
            border: 2px solid var(--accent);
        }

        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 140px;
            max-height: 140px;
        }

        button {
            padding: 0.7rem 1rem;
            font-size: 1.4rem;
            cursor: pointer;
            color: var(--text-light);
            background-color: var(--accent);
            border-radius: 0.3rem;
            transition: filter var(--time);
            &:hover {
                filter: saturate(2);
            }
            &:active {
                filter: saturate(1.2);
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .container.footer {
        padding: 1rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .messege {
        margin-top: 2rem;
        width: 100%;

        form button {
            &:hover {
                filter: none;
            }
            &:active {
                filter: saturate(2);
            }
        }
    }
}
