.wrapper.footer {
    color: var(--text-light);
    background: linear-gradient(340deg, rgba(70, 166, 61, 1) 48%, rgba(0, 151, 255, 1) 100%);
}
.container.footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.footer .details {
    width: 300px;

    > * {
        margin-top: 0.6rem;
    }
    h1 {
        font-size: 2rem;
        margin-top: 0;
    }
    * span {
        font-size: 1.2rem;
    }
}

.footer .messege {
    width: 300px;

    h1 {
        font-size: 2rem;
    }

    form {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        ::placeholder {
            color: var(--text-light);
        }

        input,
        textarea,
        input:focus,
        textarea:focus {
            border: 2px solid var(--text-light);
            font-size: 1rem;
            padding: 0.6rem 1rem;
            outline: none;
            border-radius: 0.2rem;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(6px);
        }

        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 200px;
            max-height: 200px;
        }

        button {
            padding: 0.7rem 1rem;
            font-size: 1.2rem;
            color: var(--text-light);
            background-color: var(--accent-alt);
            border-radius: 0.3rem;
            transition: filter var(--time);
            &:hover {
                filter: saturate(2);
            }
            &:active {
                filter: saturate(1.2);
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .container.footer {
        padding: 1rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .messege {
        margin-top: 2rem;
        width: 100%;

        form button {
            &:hover {
                filter: none;
            }
            &:active {
                filter: saturate(2);
            }
        }
    }
}
